h1 {
  background-color: yellow;
  /* display: inline; */
}

h3 {
  background-color: aqua;
  /* display: inline; */
}

p {
  /* background-color: orange; */
  /* display: inline; */
  /* background-color: lightgrey; */
}

a {
  /* background-color: pink; */
  /* display: block; */
}

.content {
  background-color: lightpink;
}

.links {
  background-color: lightblue;
}

.important {
  color: red;
  background-color: green;
}